{
  "hardware": "S12",
  "account": "",
  "password": "",
  "openai_key": "",
  "cookie": "",
  "mi_did": "",
  "use_command": false,
  "mute_xiaoai": true,
  "verbose": true,
  "bot": "chatgptapi",
  "enable_edge_tts": true,
  "edge_tts_voice": "zh-TW-HsiaoChenNeural",
  "prompt": "你是我的个人AI助理，提供清晰且详尽的答案，但要简洁。",
  "keyword": ["请问","为什么", "原因", "导致", "帮我" , "你是谁"],
  "change_prompt_keyword": ["更改提示词"],
  "start_conversation": "开始连续对话",
  "end_conversation": "结束连续对话",
  "stream": true,
  "proxy": "",
  "gpt_options": {"model":"gpt-3.5-turbo", "max_tokens":1024, "temperature": 0.8},
  "bing_cookie_path": "",
  "bing_cookies": {},
  "api_base": "",
  "deployment_id": ""
}
